<div class="centered-card">
  <mat-card>
    <h2 class="card-title">Add a Book</h2>
    <form (ngSubmit)="addBook()">
      <div class="form-grid">
        <mat-form-field appearance="fill">
          <mat-label>Book Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="bookName"
            name="bookName"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Author</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="bookAuthor"
            name="bookAuthor"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Number of Pages</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="bookPages"
            name="bookPages"
            required
          />
        </mat-form-field>

        <mat-checkbox [(ngModel)]="bookHasPictures" name="bookHasPictures">
          Has pictures
        </mat-checkbox>
      </div>
      <div class="buttons">
        <button mat-icon-button type="button" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-flat-button color="primary" type="submit">Add Book</button>
      </div>
    </form>
  </mat-card>
</div>
