.book-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.book-form {
  margin-bottom: 15px;
  width: 60%; /* Increase width for a better table layout */
  max-width: 800px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px; /* Add padding for better spacing */
}

.button {
  margin-top: 20px;
  width: 40%;
  max-width: 900px;
  align-self: center;
}

/* Modern Table Styles */
mat-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  background: white;
}

/* Header styling */
mat-header-row {
  background-color: #f8f9fa; /* Light gray background */
  font-weight: bold;
}

mat-header-cell {
  color: #333;
  font-size: 16px;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0; /* Light gray line */
}

/* Row styling */
mat-row {
  transition: background-color 0.2s ease-in-out;
}

mat-cell {
  color: #444;
  font-size: 15px;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

/* Hover effect */
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f1f1f1; /* Softer hover color */
}

/* Reduce table border visibility */
mat-table,
mat-header-row,
mat-row {
  border: none;
}
