@use "@angular/material" as mat;

/* Ensures full-page layout */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background); /* Uses theme variable */
}

/* Global table background */
:root {
  --mat-table-background-color: var(
    --mat-sys-surface
  ); /* Uses theme's surface color */
}
