@use "@angular/material" as mat;

html {
  // Default light theme
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

// Dark theme styles applied to body when 'dark-theme' class is added
body.dark-theme {
  @include mat.theme(
    (
      // color: mat.$violet-palette,
      color: (primary: mat.$azure-palette, theme-type: dark),
      typography: Roboto,
      density: 0
    ),
    $overrides: ("background": #24292e)
  );
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the height is fully controlled */
}

body {
  overflow: hidden; /* Prevent unwanted scrolling */
  width: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
